doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Finalist Project Management System (FPMS)
  link(rel='stylesheet' href='css/style.css')
.container
  h1 Finalist Project Management System
  a.sign-in-button(href='#') Sign In
