extends layouts/dashboad 

block content
 doctype html
 head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Project Submission Form
  style.
    body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    margin: auto;
    padding: auto;
    } 
